.module--testimonial {
    @apply py-40px py-80px relative;
    overflow: hidden;

     .wrapper {
        @apply relative z-[1];
    }

    .testimonials {
        @apply flex justify-between;
        margin-top: 50px;

        &--item {
            @apply flex-third text-center;
            background-image: url(img/card.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            min-height: 378px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding: 4em;
            flex-direction: column;
        }

        .testi-img  {
            img {
                @apply w-100px h-100px rounded-full block mx-auto;
            }
        }
        
        .testi-content {
            width: 100%;
            border-top: 1px solid #BFBFBF;
            padding-top: 10px;

            img {
                margin: auto;
            }

            p.name {
                letter-spacing: 2.8px;
                font-size: 14px;
                text-transform: uppercase;
                font-family: var(--font-semi);
                margin-bottom: 0;
                margin-top: 10px;
            }

            p.company {
                letter-spacing: 2.8px;
                font-size: 14px;
                color: var(--primary-color);
                text-transform: uppercase;
                margin-bottom: 0;
                font-family: var(--font-semi);
            }
        }

        @media (max-width: 768px) {
            flex-flow: wrap;
            justify-content: center;
        }

    }


    &:before {
        content: '';
        background-image: url(img/visual2.svg);
        background-repeat: no-repeat;
        width: 593.175px;
        height: 574.896px;
        position: absolute;
        bottom: -28%;
        left: -5%;
    }

    &:after {
        content: '';
        background-image: url(img/visual1.svg);
        background-repeat: no-repeat;
        width: 593.007px;
        height: 574.99px;
        position: absolute;
        top: 0;
        right: -3%;
    }
}
