.site-header {
    @apply sticky top-0 left-0 w-full bg-white z-[999];
    background-color: #1A1A1A;
    border-bottom: 1px solid rgb(255 255 255 / 10%);
}

/* .admin-bar .site-header {
    @apply top-[42px] adminMobile:top-[32px];
} */

.header-main {
    @apply flex flex-wrap justify-between items-center py-20px;
}


.dropdown-toggle:after {
  display: none;
}

.menu-main-menu-container {
    .navbar-nav {
        align-items: center;

        li {
            .nav-link {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 14px;
                letter-spacing: 2.8px;
                color: var(--primary-color);
                padding: 10px 15px;
                transition: all .2s;
                font-family: var(--font-semi);

                .fa-caret-down {
                  font-size: 16px;
                  position: relative;
                  top: 1px;
                  left: 5px;
                }
            }

              &.dropdown {
                .dropdown-menu {
                    position: absolute;
                    display: block;
                    opacity: 0;
                    visibility: hidden;
                    width: 200px;
                    background-color: var(--primary-color);
                    border: 1px solid var(--primary-color);
                    -webkit-border-radius: 0;
                    -moz-border-radius: 0;
                    border-radius: 0;

                    li {
                        margin-left: 0;
                    }


                    .dropdown-item {
                        white-space: normal;
                        @apply text-white;
                        text-transform: uppercase;
                        font-weight: 700;
                        font-size: 12px;
                        letter-spacing: 2.8px;
                        padding: 10px;
                        display: block;

                        &:hover {
                            @apply bg-white;
                            color: #000;
                        }
                    }

                    .dropdown-menu {
                        left: 100%;
                        top: 0;
                    }

                    @media (max-width: 1023px) {
                        position: relative;
                        opacity: 1;
                        visibility: visible;
                        margin-left: 15px;
                    }
                }

                &:hover {
                    >.dropdown-menu {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }

            /*   LI ACTIVE         */
            &.active {
                >.nav-link, >.dropdown-item {
                  color: var(--primary-color);
                }
            }
        }
    }
}


.mobile-menu {
    filter: invert(1);
}
