.module-title {
    @apply mb-30px;
}

@font-face {
    font-family: 'GilroyRegular';
    src: url('fonts/GilroyRegular.eot');
    src: url('fonts/GilroyRegular.eot') format('embedded-opentype'),
         url('fonts/GilroyRegular.woff2') format('woff2'),
         url('fonts/GilroyRegular.woff') format('woff'),
         url('fonts/GilroyRegular.ttf') format('truetype'),
         url('fonts/GilroyRegular.svg#GilroyRegular') format('svg');
}

@font-face {
    font-family: 'GilroyBold';
    src: url('fonts/GilroyBold.eot');
    src: url('fonts/GilroyBold.eot') format('embedded-opentype'),
         url('fonts/GilroyBold.woff2') format('woff2'),
         url('fonts/GilroyBold.woff') format('woff'),
         url('fonts/GilroyBold.ttf') format('truetype'),
         url('fonts/GilroyBold.svg#GilroyBold') format('svg');
}

@font-face {
    font-family: 'GilroySemiBold';
    src: url('fonts/GilroySemiBold.eot');
    src: url('fonts/GilroySemiBold.eot') format('embedded-opentype'),
         url('fonts/GilroySemiBold.woff2') format('woff2'),
         url('fonts/GilroySemiBold.woff') format('woff'),
         url('fonts/GilroySemiBold.ttf') format('truetype'),
         url('fonts/GilroySemiBold.svg#GilroySemiBold') format('svg');
}

body {
     font-family: 'GilroyRegular';
     font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

p {
    @apply mb-20px;

    &:last-child {
        margin-bottom: 0;
    }
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'GilroyBold';
    line-height: 1.2;
    @apply mb-20px;

    span {
        color: var(--primary-color);
    }
}

h1 {
    font-size: 50px;
}
h2 {
    font-size: 45px;
}
h3 {
    font-size: 32px;
}

.subheader {
    font-size: 20px;
    font-family: var(--font-semi);
    letter-spacing: 4px;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.section-heading {
    max-width: 910px;
    margin: auto;
}

.text-center {
    text-align: center;
}

.text-light {
    @apply text-white;
}